{
  "presets": ["next/babel"],
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "reactSsr": true,
        "factories": [
          "src/shared/lib/effector/toggle",
          "src/shared/lib/effector/re-state",
          "src/shared/lib/effector/page"
        ]
      }
    ]
  ]
}
