// Enable dark mode
@enable-dark-mode: true;

@tailwind base;
@tailwind components;
@tailwind utilities;

@primary-color: #00bcd4;

body {
  font-size: 16px;
  font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;

  color: #ffffff;
  background: #121212;
}
.rs-input-number-touchspin-up {
  display: none !important;
}
.rs-input-number-touchspin-down {
  display: none !important;
}

.rs-input-number-btn-group-vertical {
  display: none;
}

#__next {
  min-height: 100vh;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(23, 23, 23, 0.95);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(68, 68, 68, 0.95);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(37, 37, 37, 0.95);
}

.rs-slider-handle:before {
  z-index: 10;
}
