// Enable dark mode
@enable-dark-mode: true;

@tailwind base;
@tailwind components;
@tailwind utilities;

@primary-color: #00bcd4;

body {
  font-size: 16px;
  font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;

  color: #ffffff;
  background: #121212;
}
.rs-input-number-touchspin-up {
  display: none !important;
}
.rs-input-number-touchspin-down {
  display: none !important;
}

.rs-input-number-btn-group-vertical {
  display: none;
}

#__next {
  min-height: 100vh;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
